@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 38 92% 50%;
    --primary-foreground: 0 0% 100%;
    
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
  }

  .dark {
    --primary: 38 92% 50%;
    --primary-foreground: 0 0% 100%;
    
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}